

.menu{
    -fx-background-color: linear-gradient(to bottom right, #272b3f, #256b51);
}

.menu-button{
    -fx-background-color: transparent;
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-alignment: center-left;
}

.menu-logout-btn{
    -fx-background-color: #256b51;
    -fx-font-family: "Tahoma";
    -fx-font-size: 16px;
    -fx-cursor: hand;
    -fx-text-fill: #fff;
    -fx-alignment: center-left;
}
.bg-white{
    -fx-background-color: #fff;
}


.save-btn , .cancel-btn , .secondary-btn{
    -fx-font-weight: bold;
    -fx-min-width: 200;
    -fx-padding: 15;
}

.save-btn{
    -fx-text-fill: #fff !important;
    -fx-background-color: linear-gradient(to right, #272b3f, #1e9e6b) !important;
 }

.cancel-btn{
    -fx-text-fill: #fff !important;
    -fx-background-color: linear-gradient(to right, #ccc, #ccc) !important;
}


.secondary-btn{
    -fx-text-fill: #fff !important;
    -fx-background-color: linear-gradient(to right, #3a3f58, #3b866b) !important;
    -fx-opacity: 0.9;
}


/* table */
.table-header{
    -fx-background-color: #E5E5E5 !important;
    -fx-padding: 14px 0px;
    -fx-font-size: 14px;
    -fx-font-weight: bold;
}

.table-header-label{
    -fx-text-fill: #555 !important;
}

.table-body{
    -fx-padding: 10px 0px;
}
.table-body-label{
}

.table-show-btn , .table-edit-btn , .table-delete-btn{
    -fx-cursor: hand;
    -fx-border-radius: 50%;
    -fx-min-height: 30px;
    -fx-min-width: 30px;
    -fx-max-height: 30px;
    -fx-max-width: 30px;
    -fx-background-radius: 50%;
    -fx-alignment: center;
}

.table-delete-btn{
    -fx-background-color: #d8726f;
}

.table-edit-btn{
    -fx-background-color: #1e9e6b;
}

.table-show-btn{
    -fx-background-color: #0984e3;
}